/* S%tyle for the welcome section */
.welcome-section {
    text-align: center;
    padding: 50px 0;
}

/* Style for the heading */
.welcome-section h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

/* Style for the beautiful statement */
.beautiful-statement {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
}

/* Style for the action buttons */
.action-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Style for primary button (Register) */
.btn-primary {
    background-color: #007bff;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

/* Style for secondary button (Login) */
.btn-secondary {
    background-color: #ccc;
    color: #333;
    padding: 5px 3px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
  
}

/* Hover effect for buttons */
.btn-primary:hover, .btn-secondary:hover {
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
}
.sign-up-options {
  text-align: center;
  margin-top: 20px;
}

.social-sign-up {
  text-align: center;
  margin: 10px;
}

.social-options-container {
  text-align: center; /* Center the content horizontally */
}

.social-option {
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s;
  color: #333;
  display: block; /* Display rectangles as blocks */
  width: 20%; /* Adjusted width */
  padding: 5px; /* Adjusted padding */
  margin: 10px auto; /* Center each rectangle horizontally */
}


.social-option img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 10px;
}

#register-btn {
  margin-top: 20px;
}

.social-option:hover {
  background-color: #f0f0f0;
}

/* Style for the footer */
.footer {
    background-color: #333; /* Dark background color */
    color: white; /* Text color */
    text-align: center;
    padding: 20px 0; /* Add some padding top and bottom */
}

.footer p {
    margin: 0; /* Remove default margin for <p> */
    font-size: 14px; /* Adjust font size as needed */
}




